html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}
:root {
  /* color */
  --color-yellow: #ffdb2a;
}
body {
  background-color: #000000;
}
img {
  width: 100%;
  height: auto;
}
/* header */
.nav {
  height: 55px;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.logo {
  all: unset;
  background-image: url(/nateolimg/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 34px;
  color: transparent;
  cursor: pointer;
}
.nav-pc {
  display: none;
}

.toggle {
  all: unset;
  background-image: url(/nateolimg/bar.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  height: 100%;
  line-height: 55px;
  position: absolute;
  left: 10px;
  color: transparent;
  cursor: pointer;
}
.card {
  position: relative;
}
.inner-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  line-height: 180%;
  width: 100%;
}
.cover {
  padding: 1.4rem;
}
.inner-text p {
  font-weight: light;
}
.inner-text span {
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.inner-text span::after,
.inner-text span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: relative;
  top: 2.5px;
  opacity: 0.85;
}
.inner-text span::after {
  margin-left: 0.8em;
}
.inner-text span::before {
  margin-right: 0.8em;
}
.img-title {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.9;
}
.img-text {
  font-size: 0.95rem;
  font-weight: regular;
  font-weight: lighter;
  text-transform: uppercase;
}

.header {
  margin-bottom: 50px;
  padding-top: 55px;
}
/* section */
h2 {
  font-size: 1.3rem;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-top: 1.8rem;
}
h2::before {
  content: "";
  width: 2px;
  display: inline-block;
  height: 16px;
  background-color: var(--color-yellow);
  margin-right: 1rem;
  position: relative;
  top: 1.2px;
}
.card img {
  margin-bottom: 0.2rem;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}
section img {
  opacity: 0.8;
  transition: all 0.3s linear;
}
section img:hover {
  opacity: 0.95;
}
/* footer */
.footer {
  height: 740px;
  width: 100%;
  background-color: #151515;
  margin-top: 6rem;
  text-transform: uppercase;
  color: #898989;
  font-weight: lighter;
  position: relative;
}
.footer .menu {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 3px;
  padding-bottom: 5rem;
}
.footer a {
  color: #898989;
  text-decoration: none;
  transition: all 0.2s linear;
}
.footer a:hover {
  color: var(--color-yellow);
}
.contact {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 100%;
  letter-spacing: 1px;
}
.footer-con {
  display: flex;
  flex-direction: row;

  width: 100%;
  flex-wrap: wrap;
}
.footer-con li {
  font-size: 1rem;
  margin-right: 7rem;
  margin-bottom: 3rem;
  line-height: 1.5;
  font-weight: 300;
}
.footer p {
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-top: 0.9rem;
}
.end {
  position: absolute;
  bottom: 2.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}
/* toggle menu */
.menu-open {
  background-color: #1b1b1b;
  width: 0;
  height: 100vh;
  padding-top: 55px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.menu-open ul,
.menu-link {
  padding: 2.5rem;
  min-width: 200px;
}
.menu-open li a {
  color: #d8d8d8;
  text-decoration: none;
  display: block;
  transition: all 0.2s linear;
}
.menu-open li a:hover {
  color: var(--color-yellow);
}
.menu-open li {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  letter-spacing: 4px;
}
.sns {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background-color: #d9d5c8; */
  margin-right: 1rem;
}
.menu-open.active {
  width: 100%;
  opacity: 1;
}
.pc-menu-list {
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
